[Desktop Entry]
Name=LuxuryGram Desktop
Comment=A refined, privacy-minded Telegram experience for desktop
TryExec=LuxuryGram
Exec=env DESKTOPINTEGRATION=1 LuxuryGram -- %U
Icon=com.luxurygram.desktop
Terminal=false
StartupWMClass=LuxuryGram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=LuxuryGram -quit
Name=Quit LuxuryGram
Icon=application-exit
